@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes bounceIn {

    0%,
    20%,
    40%,
    60%,
    80%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    0% {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
    }

    20% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }

    40% {
        -webkit-transform: scale3d(0.9, 0.9, 0.9);
        transform: scale3d(0.9, 0.9, 0.9);
    }

    60% {
        opacity: 1;
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03);
    }

    80% {
        -webkit-transform: scale3d(0.97, 0.97, 0.97);
        transform: scale3d(0.97, 0.97, 0.97);
    }

    to {
        opacity: 1;
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }
}

@import url("https://api.fontshare.com/v2/css?f[]=chillax@500&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Chillax, sans-serif;
    background-color: #152A38;
    color: white;
    padding: 10vh 15vw;
    text-align: center;
}

.info {
    margin: 10px auto;
    width: max-content;
    padding: 10px;
    font-size: 18px;
    color: red;
    border: 1px solid;
    border-radius: 5px;
    animation-duration: 0.75s;
    animation-name: bounceIn;
}

.loading {
    width: 100%;
    text-align: center;

    i {
        margin-top: 5px;
        margin-bottom: 10px;
        font-size: 42px;
        animation: spin 1s infinite linear;
    }
}

.link {
    position: relative;
    cursor: pointer;

    &::after {
        position: absolute;
        content: "";
        transform-origin: 0 0;
        transform: scaleX(0);
        bottom: 0;
        left: 0;
        right: 0;
        height: 2px;
        background-color: currentColor;
        transition: transform 250ms;
    }

    &.active::after,
    &:hover::after {
        transform: scaleX(1);
    }
}

.link-container {
    cursor: pointer;

    &:hover .link::after {
        transform: scaleX(1);
    }
}

a {
    text-decoration: none;
    color: white;
}