.node {
    .header {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px 35px;
        margin-bottom: 60px;

        img {
            max-width: 20vw;
            max-height: 20vh;
            min-width: 150px;
            min-height: 150px;
        }

        .links {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            font-size: 72px;

            .back {
                font-size: 32px;

                i {
                    margin-right: 10px;
                }
            }
        }
    }

    .infos {
        padding: 20px 45px;
        margin-bottom: 30px;
        border-radius: 15px;
        background-color: #29435C;
        font-size: 24px;

        .title {
            display: flex;
            justify-content: space-between;
            font-size: 32px;
        }

        .uptime {
            display: flex;
            justify-content: space-between;
            margin-top: 10px;

            .day {
                position: relative;
                min-width: 0.75%;
                height: 40px;
                border-radius: 10px;
                cursor: pointer;

                &::before {
                    content: "";
                    position: absolute;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    border-radius: 10px;
                    transition-property: background-color;
                    transition-duration: 150ms;
                }

                &:hover::before {
                    background-color: rgba(0, 0, 0, 0.25);
                }

                .tooltip {
                    display: none;
                    position: absolute;
                    width: max-content;
                    left: 50%;
                    transform: translate(-50%, -110%);
                    padding: 5px 10px;
                    z-index: 1;
                    border-radius: 5px;
                    background-color: #152A38;
                    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
                    font-size: 16px;
                }

                &:hover .tooltip {
                    display: block;
                }
            }
        }
    }

    .responseTime {
        padding: 20px 45px;
        border-radius: 15px;
        background-color: #29435C;
        font-size: 24px;

        canvas {
            max-height: 200px;
        }
    }
}